*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#F8F5FF;
    color:#333;
}

header{
    text-align:center;
    padding:20px;
}

section{
    width:85%;
    margin:30px auto;
}

h2{
    color:#7E22CE;
    margin-bottom:15px;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.about-text{
    width:70%;
}

.about-text p{
    margin-bottom:15px;
}

.about-image img{
    width:220px;
    height:220px;
    border-radius:50%;
}

ul{
    margin-left:20px;
}

address p{
    margin:10px 0;
}

footer{
    text-align:center;
    padding:20px;
}